archive/
emulators/
figures/
parameter_files/
obs/figures/
outputdata/figures/
.ipynb_checkpoints/
outputdata/*.nc
outputdata/*.csv
outputdata/*.npy
obs/*.nc
obs/*.npy
MCMC/posterior_dists/
manuscript_figures/
DASH*
*.npy
Preprocessing.ipynb
posterior_write.py
